body {
  background-color: lightgray;
}

#grid-container{
    display:flex;
    flex-wrap:wrap;
    width:960px;
    height:960px;
    border:1px solid #333
}

.grid-square{
    border:1px solid #ccc;
    box-sizing:border-box;
    background-color:white;
}
.grid-square:hover {
  background-color: black;
}